@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Syne+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
}

html,body{
    font-family: 'Noto Sans', sans-serif;
}


.home-body{
    display: flex;
    flex-direction: column;
}


.header{
    background-color: #000 !important;
    color: #fff;
}
nav{
    /* padding: 10px 0; */
}
.navbar-toggler-icon{
color:#fff !important
}
.brand{
    display: flex;
    flex-direction: column;
    
}
.brand img{
    max-width: 150px;
    transform: translateX(-20px);
}
.brand span{
    font-size: 14px;
    padding-left: 10px;
}
nav .navbar-nav .nav-item a{
    color: white !important;
}

.home-main footer{
    flex: 1;
    display: flex;
    background-color: #000;
    min-height: 20vh;
    color: #fff;
}
.home-main footer .footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hero-home{
    background-image: url('./../asset/hero-bg.jpg');
    min-height: 60vh;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    position: relative;
}
.hero-home::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
}
.hero-home .content{
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60vh;
    padding-top: 100px;
    padding-bottom: 100px;
}
.content .title{
    font-family: 'Syne Mono', monospace;
    color: #fff;
    text-shadow: 0 2px 4px crimson;
}

.cores{
    margin-top: 50px;
}
.cores .core-item{
    color: white;
    border-left: 2px solid #DF3D3D;
    margin-bottom: 30px;
}
.cores .core-item:hover h4,.cores .core-item:hover p{
    transform: translateY(10px);
}
.core-item h4{
    transition: .3s;
}
.cores .core-item p{
    margin-top: 10px;
    color: #f3f3f3;
    transition: .3s;
    font-size: 14px;
}

.get-started{
    padding: 50px 0;
}
.get-started:hover  h3::after{
    height: 2px;
    width: 100%;
}
.get-started h3{
    font-family: 'Syne Mono', monospace;
    color: #fff;
    text-shadow: 0 2px 4px crimson;
    position: relative;
    width: fit-content;
}
.get-started h3::after{
    content: '';
    width: 0%;
    height: 100%;
    border-left: 2px solid crimson;
    border-bottom: 2px solid crimson;
    position: absolute;
    left: -10px;
    bottom: 0px;
    transition: .5s;
}
.category-card{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    margin: 20px 0;
    transition: .5s;
}
.category-card:hover{
    color: #fff;
    text-decoration: none;
    transform: scale(1.1);
}
.category-card img{
    width: 100%;
}

@media screen and (min-width:990px){
    .cores .core-item{
        margin-bottom: 0px;
    }
}

.top-img{
    width:150px;
    
}